/* quickpoll block */
.quickpoll	{
	height: auto;
	overflow: hidden;
}

/* quickpoll modifier half. */
.quickpoll_half	{}

/* poll wrapper element */
.quickpoll__poll-wrapper	{
	width: 560px;
	height: auto;
	overflow: hidden;
	padding: 20px 15px 20px 25px;
	margin:10px 0px 10px 0px;
	float: left;
}

/* poll wrapper modifier half */
.quickpoll__poll-wrapper_half	{}


/* quick pol list wrapper */
.quickpoll__poll-list-wrapper	{
	width:290px;
	height: auto;
	overflow: hidden;
	padding: 10px;
	float: left;
}

/* quick poll listr wrapper modifier half. */
.quickpoll__poll-list-wrapper_half	{}

.quickpoll__poll-list-header	{
	width: auto;
	height: auto;
	font:600 20px "Source Sans Pro";
	margin:0px 0px 20px 0px;
	border-left: 5px solid #3498db;
	padding: 10px 0px 4px 10px;
}

/* quick poll questions list. */
.quickpoll__poll-question-list	{
	width:100%;
	height: auto;
	overflow: hidden;
}

/* quick poll question list item. */
.quickpoll__poll-question-list-item	{
	width: auto;
	height: auto;
	padding: 20px;
	font: 500 18px "Source Sans Pro";
	color:#171817;
	border-bottom: 1px solid #bdc3c7;
}

.quickpoll__poll-question-list-item_selected {
	background-color: white;
	border-right:5px solid #3498db;
}

.quickpoll__poll-question-list-item_unselected {
	background-color: #ecf0f1;
	box-shadow: inset 1px 0px 2px 0px #cccccc;
}

.quickpoll__question	{
	font:600 18px "Source Sans Pro";
	line-height: 24px;
	color: #171817;
}

.quickpoll__question-wrapper	{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 10px 0px 10px 0px; 
}

.quickpoll__options	{
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
}

.quickpoll__option	{	
	width: 96%;
	height: auto;
	margin: 5px 0px 5px 0px;
	padding: 2%;
}

.quickpoll__option-control	{
	float: left;
	margin-right: 10px;
}

.quickpoll__option-text	{
	margin: 0px 0px 10px 10px;
	font: 400 16px "Source Sans Pro";
	color: #171817;
}

.quickpoll__chart-container	{
	width: 100%;
	height: 40px;
	clear: both;
}

.quickpoll__chart	{
	width: 475px;
	height: 40px;
	background: #3498db;
	position: relative;
}

.quickpoll__chart-icon	{
	position: absolute;
	top: 0px;
	right: -65px;
	width: 52px;
	height: 30px;
	font:700 14px "Source Sans Pro";
	padding: 10px 8px 0px 0px;
	color: #171817;
	text-align: right;
	background-image: url(quickpoll-icon.png);
	background-size: 60px 40px;
}

.quickpoll__question-nav-wrapper	{
	width: 96%;
	padding: 2% 2% 2% 2%;
	overflow: hidden;
	border-top:1px solid #eeeeee;
	margin-top: 10px;
	padding-top: 25px;
}

.quickpoll__button	{
	text-decoration: none;
	border: 0;
	margin:0px 10px 10px 0px;
	width: auto;
	height: auto;
	font:500 16px "Source Sans Pro";
	color:white;
	background-color: #3498db;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-size: 20px 22px;
}


.quickpoll__button_submit	{
	padding: 8px 10px 8px 40px;
	background-image: url('survey-icon-b.png');
}

.quickpoll__button_result	{
	padding: 8px 10px 8px 40px;
	background-image: url('survey-icon-b.png');
}

.quickpoll__button_previous	{
	width: 15px;
	height: 35px;
	padding: 8px 10px 8px 28px;
	background-image: url('previous.png');
	background-position: 9px 7px;
	float: right;
	background-color: #dddddd;
}

.quickpoll__button_next	{
	width: 15px;
	height: 35px;
	padding: 8px 10px 8px 28px;
	background-image: url('next.png');
	background-position: top 7px right 9px;
	float: right;
	background-color: #dddddd;
}

.quickpoll__button-group-text	{
	float: right;
	font:500 16px "Source Sans Pro";
	color: #171817;
}