.picture-panel	{
	width: 900px;
	height: 534px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.picture-panel__picture-wrapper	{
	width: 600px;
	height: 534px;
	float: left;
	background-color: #252625
}

.picture-panel__text-wrapper	{
	width: 260px;
	height: 494px;
	float: left;
	background-color: #383b38;
	padding:20px;
	box-shadow: 0px 0px 2px 0px #171817;
}

.picture-panel__image	{
	max-width: 600px;
	max-height: 534px;
	margin: auto;
	margin-top: 2px;
	margin-left: 2px;
	vertical-align: top;
	box-shadow: 0px 0px 1px 0px #171817;
}

.picture-panel__header	{
	font: 20px "Source Sans Pro";
	font-weight: 800;
	color: white;
}

.picture-panel__desc	{
	font: 15px "Source Sans Pro";
	font-weight: 400;
	color:white;
}