.likert	{
	width: 96%;
	height: auto;
	overflow: hidden;
	/*margin: 0px 0px 10px 0px;*/
	padding: 2%;
}

.likert__container	{
	width: 100%;
	margin-top: 10px;
	height: auto;
	border-radius: 3px;
	table-layout: fixed;
	border-spacing: 0;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;
}

.likert__header	{
	overflow: hidden;
	font: 400 13px "Source Sans Pro";
	color: white;
	background-color: #3498db;
	text-align: center;
	padding:5px 0px 5px 0px;
}

.likert__header_big	{ width: 200px; }

.likert__header_small	{ width: 100px; }

.likert__question-row	{
	font: 500 15px "Source Sans Pro";
	color: white;
	border-bottom: 1px solid #cccccc;
}

.likert__question	{
	width: 75px;
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	background-color: #2980b9;
}

.likert__option	{
	width: 25px;
	padding: 10px 10px 10px 10px;
	background-color: #dddddd;
	overflow: hidden;
	text-align: center;
}