/** Block **/
.description	{
	height: auto;
	float: left;
	margin:10px;
	padding: 20px;
}

/** Element **/
.description__header	{
	font: 20px "Source Sans Pro";
	font-weight: 400;
	margin-bottom: 10px;
}

.description__post	{
	font: 15px "Source Sans Pro";
	font-weight: 500;
	margin-bottom: 10px;
}

.description__media	{

}

/** Modifier **/

/* full */
.description_full	{
	width: 100%;
}

/* half */
.description_half	{
	width: 407px;
}