.pin-survey-container	{
	height: auto;
	border-radius: 3px;
	overflow: hidden;
}

.pin-survey-container__header	{
	width: 96%;
	height: auto;
	padding: 2%;
	font: 20px "Source Sans Pro";
	font-weight: 400px;
	color: white;
	background-color: #3498db;
}

.pin-survey-container__wrapper	{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #dddddd;
}

.pin-survey-container_full	{
	width: 100%;
}

.pin-survey-container_half	{
	width: 440px;
}