/** Block **/
.survey	{
	height: auto;
	overflow: hidden;
	float: left;
	padding-left: 50px;
	padding-top:10px;
	/*min-height: 200px;*/
	margin: 10px 10px 10px 10px;
}

/** Element **/
.survey__icon	{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #3498db;
	position: absolute;
	top: 0px;
	left:-30px;
	background-image: url('survey-icon-a.png');
	background-repeat: no-repeat;
	background-position: 16px 13px;
	background-size: 28px 30px;
}

.survey__content-wrapper	{
	width: auto;
	height: auto;
	float: left;
	padding-left: 42px;
	position:relative;
}

.survey__media	{
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.survey__header	{
	font: 20px "Source Sans Pro";
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 24px;
}

.survey__post	{
	font: 15px "Source Sans Pro";
	font-weight: 500;
	margin-bottom: 10px;
}

.survey__link	{
	text-decoration: none;
	width: auto;
	height: auto;
	font: 16px "Source Sans Pro";
	color:white;
	background-color: #3498db;
	font-weight: 500;
	margin:0px 10px 10px 0px;
	padding: 8px 10px 8px 40px;
	float: right;
	border-radius: 3px;
	background-image: url('survey-icon-b.png');
	background-repeat: no-repeat;
	background-position: 9px 7px;
	background-size: 20px 22px;
}

/** Modifier **/

/* Full */
.survey_full	{
	width: 850px;
}

.survey__media_full	{
	width: 815px;
}

.survey__media_full *	{
	width: 500px;
	height: 300px;
	float: left;
}

/** Force override for rich text in full state **/
.survey__post.survey__post_full iframe,img {
  width: 500px;
  height: 300px;
  margin:10px 0px 10px 0px;
}

/* Half */
.survey_half	{
	width: 380px;
}

.survey__media_half	{
	width: 327px;
}

.survey__media_half *	{
	width: 300px;
	height: 300px;
	float: left;
}

/** Force override for rich text in half state **/
.survey__post.survey__post_half iframe,img {
  width: 300px;
  height: 300px;
  margin:10px 0px 10px 0px;
}


/* last comment with no border */
.survey__content-wrapper_last	{
	border:0;
	border-left: 1px;
}

.survey_backdrop	{
	background-color: white;
}

.survey__link_left	{ 
	float: left;
}

.survey__link_right	{ 
	float: right;
}