body	{
	margin: 0;
	padding:10px;
	border: 0;
	/*background-color: #dddddd;*/
	background-image: url('../one-column/pattern-b.png');
	overflow: auto;
}

.layout 	{
	width: 940px;
	height: auto;
	overflow: hidden;
	margin: auto;
	background-color: white;
	box-shadow: 0px 0px 1px 0px #171817;
	border-radius: 5px;
}

.layout__nav	{
	width: 940px;
	height: auto;
	overflow: hidden;
}

.layout__header	{
	width: 940px;
	height: auto;
}

.layout__content-wrapper {
	/*background-color: #dddddd;*/
	width: 940px;
	overflow: hidden;
	height: auto;
}

.layout__content-wrapper-a	{
	width: 470px;
	height: auto;
	float: left;
	background-color: white;
	border-right: 1px solid #dddddd;
	padding: 20px 0px 20px 0px;
}

.layout__content-wrapper-b	{
	width: 469px;
	height: auto;
	float: right;
	background-color: white;
	padding: 20px 0px 20px 0px;
}

.layout__container	{
	width: 940px;
	height: auto;
}

.layout__footer	{
	width: 940px;
	height: auto;
	/*min-height: 50px;*/
}